*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}
#container{
    height: 450px;
    width: 300px;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position:  center; */
}
#container i {
     color: #c71010;
     font-size: 60px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%) scale(0);
     opacity: 0;
     transition: transform ease 0.5s;
}